Repository negatic/ArchiPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, pretty-format-json, codespell, black, ruff, add-trailing-comma, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: check-added-large-files
        entry: poetry run check-added-large-files
        language: system
      - id: check-yaml
        name: check-yaml
        entry: poetry run check-yaml
        types:
          - yaml
        language: system
      - id: check-toml
        name: check-toml
        entry: poetry run check-toml
        types:
          - toml
        language: system
      - id: check-json
        name: check-json
        entry: poetry run check-json
        types:
          - json
        language: system
      - id: pretty-format-json
        name: pretty-format-json
        entry: poetry run pretty-format-json
        types:
          - json
        language: system
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: poetry run end-of-file-fixer
        language: system
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: poetry run trailing-whitespace-fixer
        language: system
      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        pass_filenames: false
      - id: poetry-lock
        name: poetry-lock
        entry: poetry lock
        language: system
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge
      - id: poetry-install
        name: poetry-install
        entry: poetry install
        language: system
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge
      - id: codespell
        name: codespell
        entry: poetry run codespell --toml pyproject.toml
        files: \.(py|pyi)$
        language: system
      - id: black
        name: black
        entry: poetry run black --config pyproject.toml
        files: \.(py|pyi)$
        language: system
      - id: ruff
        name: ruff
        entry: poetry run ruff check --config pyproject.toml --fix
        files: \.(py|pyi)$
        language: system
      - id: add-trailing-comma
        name: add-trailing-comma
        entry: poetry run add-trailing-comma
        files: \.(py|pyi)$
        language: system
      - id: validate-pyproject
        name: validate-pyproject
        entry: poetry run validate-pyproject pyproject.toml
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy --config-file pyproject.toml
        files: \.(py|pyi)$
        language: system

add doc string for redis adapters
  .cursor/rules/python313.mdc
  archipy/adapters/redis/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

rewrite change logs
  docs/changelog.md
  scripts/generate_detailed_changelogs.py
  scripts/generate_unreleased_changelog.py
Due: codespell, black, ruff, add-trailing-comma, mypy

refactor file utils
  archipy/helpers/utils/file_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

add lint workflow
  .github/workflows/lint.yml
  archipy/adapters/email/adapters.py
  archipy/helpers/utils/string_utils_constants.py
Due: check-yaml, codespell, black, ruff, add-trailing-comma, mypy

feat: Add auto-generated database URL with validation to SqlAlchemyConfig
  archipy/configs/config_template.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat: Add lifespan support to FastAPI app creation
  archipy/helpers/utils/app_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Update range_dtos.py
  archipy/models/dtos/range_dtos.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix: replace AsyncContextManager with AbstractAsyncContextManager to fix UP035 lint error
  archipy/helpers/utils/app_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix: run ruff format on config_template.py to resolve formatting issues
  archipy/configs/config_template.py
Due: codespell, black, ruff, add-trailing-comma, mypy

update changelogs
  docs/changelog.md
Due: none

Fix: Fixed sql alchemy sort mixin
  archipy/adapters/orm/sqlalchemy/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Fix: Fixed lint errors in Keycloak adapters and ports
  archipy/adapters/keycloak/adapters.py
  archipy/adapters/keycloak/ports.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

fix lint in config template
  archipy/configs/config_template.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

Fix "DEFAULT" server_default value in BaseEntity timestamps
  archipy/models/entities/sqlalchemy/base_entities.py
Due: codespell, black, ruff, add-trailing-comma, mypy

add ports and adapters for kafka
  archipy/adapters/kafka/__init__.py
  archipy/adapters/kafka/adapters.py
  archipy/adapters/kafka/ports.py
  archipy/adapters/keycloak/adapters.py
  archipy/adapters/minio/adapters.py
  archipy/helpers/utils/error_utils.py
  docs/examples/adapters/minio.md
  docs/examples/helpers/utils.md
  features/environment.py
  features/steps/atomic_transaction_steps.py
  features/steps/keycloak_adapter_steps.py
  features/steps/minio_adapter_steps.py
  features/test_helpers.py
  poetry.lock
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

refactor kafka adapters and add test for them
  .env.test
  archipy/adapters/kafka/adapters.py
  archipy/adapters/kafka/ports.py
  archipy/adapters/keycloak/adapters.py
  archipy/adapters/minio/adapters.py
  archipy/configs/config_template.py
  features/kafka_adapters.feature
  features/steps/kafka_adapter_steps.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

refactor doc string for kafka
  archipy/adapters/kafka/adapters.py
  archipy/adapters/kafka/ports.py
Due: codespell, black, ruff, add-trailing-comma, mypy

add docs for kafka
  docs/api_reference/adapters.md
  docs/api_reference/index.md
  docs/examples/adapters/index.md
  docs/features.md
Due: none

refactor docs
  docs/examples/adapters/kafka.md
Due: none

Added InsufficientBalanceError
  archipy/helpers/utils/app_utils.py
  archipy/models/errors/custom_errors.py
  archipy/models/types/error_message_types.py
  poetry.lock
Due: codespell, black, ruff, add-trailing-comma, mypy

Updated InsufficientBalanceError docstring and set another flag for fastapi responses
  archipy/helpers/utils/app_utils.py
  archipy/models/errors/custom_errors.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Changed fastapi responses flag name
  archipy/helpers/utils/app_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix keycloak linter errors
  archipy/adapters/keycloak/adapters.py
  archipy/adapters/keycloak/ports.py
  archipy/helpers/utils/keycloak_utils.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

update change logs
  docs/changelog.md
Due: none

update dependencies
  poetry.lock
Due: none

fix capture exeptrioin in all senario
  archipy/helpers/utils/app_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

update docs
  docs/changelog.md
Due: none

update docs
  docs/api_reference/adapters.md
  docs/api_reference/index.md
  docs/changelog.md
  docs/features.md
  docs/index.md
  docs/installation.md
  docs/usage.md
  poetry.lock
  pyproject.toml
Due: check-toml

update docs
  docs/api_reference/adapters.md
  docs/api_reference/helpers.md
  docs/api_reference/index.md
  docs/api_reference/models.md
  docs/examples/adapters/index.md
  docs/examples/adapters/orm.md
  docs/examples/adapters/postgres.md
  docs/examples/adapters/sqlite.md
  docs/examples/index.md
  mkdocs.yml
Due: check-yaml

update docs
  docs/examples/adapters/starrocks.md
Due: none

update docs
  docs/examples/index.md
Due: none

Fix atomic decorator
  archipy/helpers/decorators/sqlalchemy_atomic.py
  docs/changelog.md
  features/atomic_transactions.feature
  features/steps/atomic_transaction_steps.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

Update SECURITY.md
  SECURITY.md
Due: none

Refactored range DTOs
  archipy/models/dtos/pagination_dto.py
  archipy/models/dtos/range_dtos.py
  archipy/models/types/time_interval_unit_type.py
  docs/changelog.md
Due: codespell, black, ruff, add-trailing-comma, mypy

update docs
  CLAUDE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
  SPONSORS.md
  docs/api_reference/adapters.md
  docs/api_reference/configs.md
  docs/api_reference/helpers.md
  docs/api_reference/index.md
  docs/api_reference/models.md
  docs/api_reference/utils.md
  docs/architecture.md
  docs/contributing-docs.md
  docs/contributing.md
  docs/examples/adapters/index.md
  docs/examples/adapters/kafka.md
  docs/examples/adapters/keycloak.md
  docs/examples/config_management.md
  docs/examples/helpers/index.md
  docs/examples/helpers/utils.md
  docs/features.md
  docs/index.md
  docs/installation.md
Due: none
