Repository negatic/ArchiPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, pretty-format-json, codespell, black, ruff, add-trailing-comma, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: check-added-large-files
        entry: poetry run check-added-large-files
        language: system
      - id: check-yaml
        name: check-yaml
        entry: poetry run check-yaml
        types:
          - yaml
        language: system
      - id: check-toml
        name: check-toml
        entry: poetry run check-toml
        types:
          - toml
        language: system
      - id: check-json
        name: check-json
        entry: poetry run check-json
        types:
          - json
        language: system
      - id: pretty-format-json
        name: pretty-format-json
        entry: poetry run pretty-format-json
        types:
          - json
        language: system
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: poetry run end-of-file-fixer
        language: system
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: poetry run trailing-whitespace-fixer
        language: system
      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        pass_filenames: false
      - id: poetry-lock
        name: poetry-lock
        entry: poetry lock
        language: system
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge
      - id: poetry-install
        name: poetry-install
        entry: poetry install
        language: system
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge
      - id: codespell
        name: codespell
        entry: poetry run codespell --toml pyproject.toml
        files: \.(py|pyi)$
        language: system
      - id: black
        name: black
        entry: poetry run black --config pyproject.toml
        files: \.(py|pyi)$
        language: system
      - id: ruff
        name: ruff
        entry: poetry run ruff check --config pyproject.toml --fix
        files: \.(py|pyi)$
        language: system
      - id: add-trailing-comma
        name: add-trailing-comma
        entry: poetry run add-trailing-comma
        files: \.(py|pyi)$
        language: system
      - id: validate-pyproject
        name: validate-pyproject
        entry: poetry run validate-pyproject pyproject.toml
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy --config-file pyproject.toml
        files: \.(py|pyi)$
        language: system

[Fix] Create dependabot.yml for configing dependabot
  .github/dependabot.yml
Due: check-yaml

[Fix] Update dependabot.yml to fix action error
  .github/dependabot.yml
Due: check-yaml

Update dependabot.yml
  .github/dependabot.yml
Due: check-yaml

[Fix] Update dependabot.yml to add insecure-external-code-execution
  .github/dependabot.yml
Due: check-yaml

Add examples to docs
  docs/source/architecture.rst
  docs/source/conf.py
  docs/source/examples/adapters/email.rst
  docs/source/examples/adapters/index.rst
  docs/source/examples/adapters/orm.rst
  docs/source/examples/adapters/redis.rst
  docs/source/examples/bdd_testing.rst
  docs/source/examples/config_management.rst
  docs/source/examples/helpers/decorators.rst
  docs/source/examples/helpers/index.rst
  docs/source/examples/helpers/interceptors.rst
  docs/source/examples/helpers/metaclasses.rst
  docs/source/examples/helpers/utils.rst
  docs/source/index.rst
  docs/source/usage.rst
Due: codespell, black, ruff, add-trailing-comma, mypy

change docs
  README.md
  archipy/adapters/email/email_port.py
  archipy/adapters/orm/sqlalchemy/session_manager_adapters.py
  archipy/adapters/orm/sqlalchemy/session_manager_ports.py
  archipy/adapters/orm/sqlalchemy/session_manager_registry.py
  archipy/adapters/orm/sqlalchemy/sqlalchemy_adapters.py
  archipy/adapters/redis/redis_adapters.py
  archipy/adapters/redis/redis_ports.py
  archipy/configs/base_config.py
  archipy/configs/environment_type.py
  archipy/helpers/decorators/deprecation_exception.py
  archipy/models/dtos/pagination_dto.py
  archipy/models/dtos/sort_dto.py
  docs/source/api_reference/adapters.rst
  docs/source/api_reference/configs.rst
  docs/source/api_reference/helpers.rst
  docs/source/api_reference/index.rst
  docs/source/api_reference/models.rst
  docs/source/api_reference/utils.rst
  docs/source/architecture.rst
  docs/source/examples/adapters/index.rst
  docs/source/examples/config_management.rst
  docs/source/examples/helpers/index.rst
Due: codespell, black, ruff, add-trailing-comma, mypy

Refactor Internal Link in docs
  .readthedocs.yaml
  docs/api_reference/configs.md
  docs/api_reference/helpers.md
  docs/api_reference/index.md
  docs/api_reference/models.md
  docs/examples/helpers/utils.md
Due: check-yaml

[Fix] read the docs config error
  .readthedocs.yaml
Due: check-yaml

[Fix] read the docs config error
  .readthedocs.yaml
  docs/source/requirements.txt
Due: check-yaml

[Feat] add github action for mkdocs publish
  .github/workflows/deploy-docs.yml
Due: check-yaml

rename some class
  archipy/adapters/email/adapters.py
  archipy/adapters/email/ports.py
  archipy/adapters/orm/sqlalchemy/adapters.py
  archipy/adapters/orm/sqlalchemy/mocks.py
  archipy/adapters/orm/sqlalchemy/ports.py
  archipy/adapters/redis/adapters.py
  archipy/adapters/redis/mocks.py
  archipy/adapters/redis/ports.py
  archipy/helpers/decorators/timing.py
  archipy/helpers/interceptors/fastapi/rate_limit/fastapi_rest_rate_limit_handler.py
  archipy/helpers/interceptors/grpc/base/client_interceptor.py
  archipy/helpers/interceptors/grpc/base/server_interceptor.py
  archipy/helpers/interceptors/grpc/metric/server_interceptor.py
  archipy/helpers/interceptors/grpc/trace/client_interceptor.py
  archipy/helpers/interceptors/grpc/trace/server_interceptor.py
  docs/architecture.md
  docs/examples/config_management.md
  docs/examples/helpers/decorators.md
  docs/usage.md
  features/steps/atomic_transaction_steps.py
  features/steps/redis_mock_steps.py
  poetry.lock
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

refactor docs
  archipy/adapters/orm/sqlalchemy/adapters.py
  docs/api_reference/adapters.md
Due: codespell, black, ruff, add-trailing-comma, mypy

refactor error utils
  archipy/helpers/utils/error_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

[Fix] docs linking problem
  docs/api_reference/utils.md
  docs/examples/helpers/utils.md
Due: none

Add sponsors
  README.md
  SPONSORS.md
Due: none

update base entities
  archipy/models/entities/sqlalchemy/base_entities.py
Due: codespell, black, ruff, add-trailing-comma, mypy

improve remove emoji utils
  archipy/helpers/utils/base_utils.py
  archipy/helpers/utils/datetime_utils.py
  archipy/helpers/utils/string_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Create bandit.yml
  .github/workflows/bandit.yml
Due: check-yaml

Create crda.yml
  .github/workflows/crda.yml
Due: check-yaml

Update bandit.yml
  .github/workflows/bandit.yml
Due: check-yaml

Delete .github/workflows/crda.yml
  .github/workflows/crda.yml
Due: check-yaml

Create frogbot-scan-and-fix.yml
  .github/workflows/frogbot-scan-and-fix.yml
Due: check-yaml

Delete .github/workflows/frogbot-scan-and-fix.yml
  .github/workflows/frogbot-scan-and-fix.yml
Due: check-yaml

Create pysa.yml
  .github/workflows/pysa.yml
Due: check-yaml

Update pysa.yml
  .github/workflows/pysa.yml
Due: check-yaml

Create pyre.yml
  .github/workflows/pyre.yml
Due: check-yaml

Update pyre.yml
  .github/workflows/pyre.yml
Due: check-yaml

Delete .github/workflows/pyre.yml
  .github/workflows/pyre.yml
Due: check-yaml

Delete .github/workflows/pysa.yml
  .github/workflows/pysa.yml
Due: check-yaml

fix merge conflicts
  archipy/helpers/interceptors/fastapi/rate_limit/fastapi_rest_rate_limit_handler.py
Due: codespell, black, ruff, add-trailing-comma, mypy

[Fix] forwarded for return value
  archipy/helpers/interceptors/fastapi/rate_limit/fastapi_rest_rate_limit_handler.py
Due: codespell, black, ruff, add-trailing-comma, mypy

[Fix] logo file changes
  docs/assets/logo.jpg
Due: none
