Repository negatic/ArchiPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, pretty-format-json, codespell, black, ruff, add-trailing-comma, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: check-added-large-files
        entry: poetry run check-added-large-files
        language: system
      - id: check-yaml
        name: check-yaml
        entry: poetry run check-yaml
        types:
          - yaml
        language: system
      - id: check-toml
        name: check-toml
        entry: poetry run check-toml
        types:
          - toml
        language: system
      - id: check-json
        name: check-json
        entry: poetry run check-json
        types:
          - json
        language: system
      - id: pretty-format-json
        name: pretty-format-json
        entry: poetry run pretty-format-json
        types:
          - json
        language: system
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: poetry run end-of-file-fixer
        language: system
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: poetry run trailing-whitespace-fixer
        language: system
      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        pass_filenames: false
      - id: poetry-lock
        name: poetry-lock
        entry: poetry lock
        language: system
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge
      - id: poetry-install
        name: poetry-install
        entry: poetry install
        language: system
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge
      - id: codespell
        name: codespell
        entry: poetry run codespell --toml pyproject.toml
        files: \.(py|pyi)$
        language: system
      - id: black
        name: black
        entry: poetry run black --config pyproject.toml
        files: \.(py|pyi)$
        language: system
      - id: ruff
        name: ruff
        entry: poetry run ruff check --config pyproject.toml --fix
        files: \.(py|pyi)$
        language: system
      - id: add-trailing-comma
        name: add-trailing-comma
        entry: poetry run add-trailing-comma
        files: \.(py|pyi)$
        language: system
      - id: validate-pyproject
        name: validate-pyproject
        entry: poetry run validate-pyproject pyproject.toml
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy --config-file pyproject.toml
        files: \.(py|pyi)$
        language: system

fix bandit false positive error
  archipy/helpers/utils/jwt_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Potential fix for code scanning alert no. 1062: Workflow does not contain permissions
  .github/workflows/tests.yml
Due: check-yaml

Potential fix for code scanning alert no. 1063: Workflow does not contain permissions
  .github/workflows/publish.yml
Due: check-yaml

Potential fix for code scanning alert no. 1064: Workflow does not contain permissions
  .github/workflows/lint.yml
Due: check-yaml

update libraries
  Makefile
  pyproject.toml
  uv.lock
Due: check-toml

fix pipline errors
  .github/workflows/deploy-docs.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  README.md
Due: check-yaml

feat: enhance CLAUDE.md and fix Keycloak adapter MyPy type errors
  CLAUDE.md
  archipy/adapters/keycloak/adapters.py
  archipy/adapters/keycloak/ports.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

update: Elasticsearch image version, improve Keycloak utils type handling, and update dependencies
  .env.test
  archipy/helpers/utils/keycloak_utils.py
  pyproject.toml
  uv.lock
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

update changelog
  docs/changelog.md
Due: none

feat: add capture_transaction and capture_span decorators for pure Python tracing
  archipy/helpers/decorators/__init__.py
  archipy/helpers/decorators/tracing.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix pipeline
  .github/workflows/deploy-docs.yml
Due: check-yaml

feat: add Sentry tracing support to gRPC interceptors
  archipy/helpers/interceptors/grpc/trace/client_interceptor.py
  archipy/helpers/interceptors/grpc/trace/server_interceptor.py
Due: codespell, black, ruff, add-trailing-comma, mypy

update logo path
  README.md
  docs/assets/logo.jpg
Due: none

feat: add comprehensive Temporal workflow orchestration support
  archipy/adapters/temporal/__init__.py
  archipy/adapters/temporal/adapters.py
  archipy/adapters/temporal/base.py
  archipy/adapters/temporal/ports.py
  archipy/adapters/temporal/worker.py
  archipy/configs/base_config.py
  archipy/configs/config_template.py
  archipy/models/errors/temporal_errors.py
  docs/examples/adapters/index.md
  docs/examples/adapters/temporal.md
  pyproject.toml
  uv.lock
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

update changelogs
  docs/changelog.md
Due: none

fix Documentation builds
  archipy/adapters/keycloak/adapters.py
  archipy/helpers/decorators/retry.py
  archipy/helpers/utils/password_utils.py
  archipy/models/types/base_types.py
  docs/api_reference/adapters.md
  docs/api_reference/configs.md
  mkdocs.yml
Due: check-yaml, codespell, black, ruff, add-trailing-comma, mypy

update docs index
  docs/api_reference/index.md
  docs/examples/index.md
Due: none

add wait_until_stopped method
  archipy/adapters/temporal/worker.py
Due: codespell, black, ruff, add-trailing-comma, mypy

add hiredis extension for redis
  pyproject.toml
  uv.lock
Due: check-toml

add schedule related methods
  archipy/adapters/temporal/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

add port
  archipy/adapters/temporal/adapters.py
  archipy/adapters/temporal/ports.py
Due: codespell, black, ruff, add-trailing-comma, mypy

add redis cluster and sentinel support
  .env.test
  archipy/adapters/redis/adapters.py
  archipy/adapters/redis/mocks.py
  archipy/adapters/redis/ports.py
  archipy/configs/config_template.py
  archipy/helpers/utils/error_utils.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

chore(deps): update dependencies to latest versions
  .env.test
  docs/changelog.md
  pyproject.toml
  uv.lock
Due: check-toml

docs: reorganize MkDocs configuration and enhance documentation infrastructure
  .github/workflows/deploy-docs.yml
  .readthedocs.yaml
  Makefile
  README.md
  docs/architecture.md
  docs/changelog.md
  docs/mkdocs-fast.yml
  docs/mkdocs-full.yml
  docs/mkdocs.yml
  docs/usage.md
Due: check-yaml

docs: update all examples to Python 3.13 with proper error handling
  docs/changelog.md
  docs/examples/adapters/email.md
  docs/examples/adapters/kafka.md
  docs/examples/adapters/keycloak.md
  docs/examples/adapters/minio.md
  docs/examples/adapters/parsian_payment.md
  docs/examples/adapters/postgres.md
  docs/examples/adapters/redis.md
  docs/examples/adapters/sqlite.md
  docs/examples/adapters/starrocks.md
  docs/examples/adapters/temporal.md
  docs/examples/bdd_testing.md
  docs/examples/config_management.md
  docs/examples/error_handling.md
  docs/examples/helpers/decorators.md
  docs/examples/helpers/metaclasses.md
  docs/examples/helpers/utils.md
  docs/examples/index.md
  docs/examples/models/protobuf_dtos.md
Due: none

update cursor rule
  .cursor/rules/checks.mdc
Due: none

chore: Update dependencies
  .env.test
  pyproject.toml
  uv.lock
Due: check-toml

add support for workflow_id_prefix for scheduled jobs
  archipy/adapters/temporal/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

rename workflow_id_prefix to workflow_id and add schedule_policy parameter
  archipy/adapters/temporal/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Add null commit support and batch consume tests for Kafka adapters
  archipy/adapters/kafka/adapters.py
  archipy/adapters/kafka/ports.py
  features/kafka_adapters.feature
  features/steps/kafka_adapter_steps.py
  uv.lock
Due: codespell, black, ruff, add-trailing-comma, mypy

docs(changelog): add release notes for v4.9.0
  docs/community/changelog/4/4.8.1.md
  docs/community/changelog/4/4.9.0.md
  docs/community/changelog/4/index.md
  docs/community/changelog/index.md
Due: none

fix(saman-shaparak-payment): handle missing TransactionDetail gracefully in Saman payment adapters
  archipy/adapters/internet_payment_gateways/ir/saman/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

docs(changelog): add release notes for v4.9.1
  docs/community/changelog/4/4.9.0.md
  docs/community/changelog/4/4.9.1.md
  docs/community/changelog/4/index.md
  docs/community/changelog/index.md
Due: none
