Repository negatic/ArchiPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, pretty-format-json, codespell, black, ruff, add-trailing-comma, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: check-added-large-files
        entry: poetry run check-added-large-files
        language: system
      - id: check-yaml
        name: check-yaml
        entry: poetry run check-yaml
        types:
          - yaml
        language: system
      - id: check-toml
        name: check-toml
        entry: poetry run check-toml
        types:
          - toml
        language: system
      - id: check-json
        name: check-json
        entry: poetry run check-json
        types:
          - json
        language: system
      - id: pretty-format-json
        name: pretty-format-json
        entry: poetry run pretty-format-json
        types:
          - json
        language: system
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: poetry run end-of-file-fixer
        language: system
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: poetry run trailing-whitespace-fixer
        language: system
      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        pass_filenames: false
      - id: poetry-lock
        name: poetry-lock
        entry: poetry lock
        language: system
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge
      - id: poetry-install
        name: poetry-install
        entry: poetry install
        language: system
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge
      - id: codespell
        name: codespell
        entry: poetry run codespell --toml pyproject.toml
        files: \.(py|pyi)$
        language: system
      - id: black
        name: black
        entry: poetry run black --config pyproject.toml
        files: \.(py|pyi)$
        language: system
      - id: ruff
        name: ruff
        entry: poetry run ruff check --config pyproject.toml --fix
        files: \.(py|pyi)$
        language: system
      - id: add-trailing-comma
        name: add-trailing-comma
        entry: poetry run add-trailing-comma
        files: \.(py|pyi)$
        language: system
      - id: validate-pyproject
        name: validate-pyproject
        entry: poetry run validate-pyproject pyproject.toml
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy --config-file pyproject.toml
        files: \.(py|pyi)$
        language: system

feat(adapters): preserve concrete entity type using TypeVar in SQLAlchemy adapters
  archipy/adapters/base/sqlalchemy/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feature: update to behave 1.3.0 and handle async with behave
  features/environment.py
  features/scenario_context.py
  features/steps/atomic_transaction_steps.py
  features/steps/elastic_adapter_steps.py
  features/steps/keycloak_adapter_steps.py
  features/steps/redis_mock_steps.py
  features/test_helpers.py
  poetry.lock
  poetry.toml
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

rollback poetry toml
  poetry.toml
Due: check-toml

add bandit
  .gitignore
  Makefile
  poetry.lock
  pyproject.toml
Due: check-toml

update bandit config
  .github/workflows/bandit.yml
  Makefile
  pyproject.toml
Due: check-yaml, check-toml

update changelog
  docs/changelog.md
Due: none

feat: test containers
  .env.test
  features/environment.py
  features/test_containers.py
  poetry.lock
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

fix: basic_auth extra parentheses
  archipy/adapters/elasticsearch/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix: validate_password input error
  archipy/helpers/utils/password_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix: keycloak test issues
  features/keycloak_adapter.feature
  features/steps/keycloak_adapter_steps.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix: elastic adapter test issues
  features/elastic_adapter.feature
  features/steps/elastic_adapter_steps.py
Due: codespell, black, ruff, add-trailing-comma, mypy

update changelog format
  docs/changelog.md
Due: none

fix: elastic test issue
  features/steps/elastic_adapter_steps.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat: index_exists method for elastic adapter
  archipy/adapters/elasticsearch/adapters.py
  archipy/adapters/elasticsearch/ports.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat: tests stage for workflow
  .github/workflows/tests.yml
Due: check-yaml

keycloak refactor
  .env.test
  features/keycloak_adapter.feature
  features/steps/keycloak_adapter_steps.py
  features/test_containers.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix: kafka connection issues
  features/steps/kafka_adapter_steps.py
  features/test_containers.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix: image versions and missing envs
  .env.test
Due: none

fix: branch name
  .github/workflows/tests.yml
Due: check-yaml

fix: elasticsearch image
  .env.test
Due: none

fix: typo in elasticsearch image name
  .env.test
Due: none

fix: exception utils error assertion
  features/exception_utils.feature
  features/steps/exception_utils_steps.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix: updated image versions
  features/environment.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat: retry mechanism for some kafka tests
  features/steps/kafka_adapter_steps.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix(config): Correctly instantiate PostgresDsn type
  archipy/configs/config_template.py
Due: codespell, black, ruff, add-trailing-comma, mypy

update depencies, update behave config
  poetry.lock
  pyproject.toml
Due: check-toml

docs: update changelog for version 3.6.2
  docs/changelog.md
Due: none

Update scenario_context.py
  features/scenario_context.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Update test_helpers.py
  features/test_helpers.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat: migrate from Poetry to UV
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/deploy-docs.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  README.md
  archipy/adapters/base/sqlalchemy/adapters.py
  archipy/adapters/keycloak/ports.py
  archipy/helpers/interceptors/grpc/base/server_interceptor.py
  archipy/helpers/interceptors/grpc/exception/__init__.py
  archipy/helpers/interceptors/grpc/exception/server_interceptor.py
  archipy/helpers/interceptors/grpc/metric/server_interceptor.py
  archipy/helpers/interceptors/grpc/trace/server_interceptor.py
  archipy/helpers/utils/datetime_utils.py
  archipy/helpers/utils/string_utils.py
  archipy/models/entities/__init__.py
  archipy/models/entities/sqlalchemy/__init__.py
  archipy/models/errors/keycloak_errors.py
  archipy/models/types/__init__.py
  docs/api_reference/helpers.md
  docs/assets/logo.jpg
  docs/changelog.md
  docs/contributing.md
  docs/development.md
  docs/examples/adapters/redis.md
  docs/examples/bdd_testing.md
  docs/features.md
  docs/installation.md
  features/scenario_context.py
  poetry.lock
  poetry.toml
  pyproject.toml
  uv.lock
Due: check-yaml, check-toml, codespell, black, ruff, add-trailing-comma, mypy

fix(configs): resolve all ruff and mypy linting issues
  archipy/configs/base_config.py
  archipy/configs/config_template.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

fix(models): resolve all ruff and mypy linting issues
  archipy/models/dtos/range_dtos.py
  archipy/models/dtos/search_input_dto.py
  archipy/models/dtos/sort_dto.py
  archipy/models/entities/sqlalchemy/base_entities.py
  archipy/models/errors/__init__.py
  archipy/models/errors/base_error.py
  archipy/models/errors/keycloak_errors.py
  archipy/models/types/keycloak_error_message_types.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

fix: resolve ruff and mypy issues across configs, models, and decorators
  archipy/helpers/decorators/deprecation_exception.py
  archipy/helpers/decorators/sqlalchemy_atomic.py
  archipy/helpers/decorators/timing.py
  archipy/models/errors/__init__.py
  archipy/models/errors/system_errors.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

docs: update changelog with recent changes and improvements
  docs/changelog.md
Due: none

update test images
  .env.test
  features/environment.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix(utils): resolve all MyPy and Ruff errors in helpers/utils
  archipy/helpers/utils/app_utils.py
  archipy/helpers/utils/keycloak_utils.py
  archipy/helpers/utils/string_utils.py
  archipy/helpers/utils/string_utils_constants.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix(adapters): resolve all MyPy and Ruff errors in sqlalchemy adapters
  archipy/adapters/base/sqlalchemy/adapters.py
  archipy/adapters/base/sqlalchemy/ports.py
  archipy/adapters/base/sqlalchemy/session_manager_registry.py
  archipy/adapters/base/sqlalchemy/session_managers.py
  archipy/adapters/email/adapters.py
  archipy/adapters/postgres/sqlalchemy/adapters.py
  archipy/adapters/postgres/sqlalchemy/session_manager_registry.py
  archipy/adapters/postgres/sqlalchemy/session_managers.py
  archipy/adapters/sqlite/sqlalchemy/adapters.py
  archipy/adapters/sqlite/sqlalchemy/session_manager_registry.py
  archipy/adapters/sqlite/sqlalchemy/session_managers.py
  archipy/adapters/starrocks/sqlalchemy/adapters.py
  archipy/adapters/starrocks/sqlalchemy/session_manager_registry.py
  archipy/adapters/starrocks/sqlalchemy/session_managers.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

fix(interceptors): resolve all MyPy errors in gRPC interceptors
  archipy/helpers/interceptors/grpc/base/client_interceptor.py
  archipy/helpers/interceptors/grpc/exception/server_interceptor.py
  archipy/helpers/interceptors/grpc/trace/client_interceptor.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy
