Repository negatic/ArchiPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, pretty-format-json, codespell, black, ruff, add-trailing-comma, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: check-added-large-files
        entry: poetry run check-added-large-files
        language: system
      - id: check-yaml
        name: check-yaml
        entry: poetry run check-yaml
        types:
          - yaml
        language: system
      - id: check-toml
        name: check-toml
        entry: poetry run check-toml
        types:
          - toml
        language: system
      - id: check-json
        name: check-json
        entry: poetry run check-json
        types:
          - json
        language: system
      - id: pretty-format-json
        name: pretty-format-json
        entry: poetry run pretty-format-json
        types:
          - json
        language: system
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: poetry run end-of-file-fixer
        language: system
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: poetry run trailing-whitespace-fixer
        language: system
      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        pass_filenames: false
      - id: poetry-lock
        name: poetry-lock
        entry: poetry lock
        language: system
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge
      - id: poetry-install
        name: poetry-install
        entry: poetry install
        language: system
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge
      - id: codespell
        name: codespell
        entry: poetry run codespell --toml pyproject.toml
        files: \.(py|pyi)$
        language: system
      - id: black
        name: black
        entry: poetry run black --config pyproject.toml
        files: \.(py|pyi)$
        language: system
      - id: ruff
        name: ruff
        entry: poetry run ruff check --config pyproject.toml --fix
        files: \.(py|pyi)$
        language: system
      - id: add-trailing-comma
        name: add-trailing-comma
        entry: poetry run add-trailing-comma
        files: \.(py|pyi)$
        language: system
      - id: validate-pyproject
        name: validate-pyproject
        entry: poetry run validate-pyproject pyproject.toml
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy --config-file pyproject.toml
        files: \.(py|pyi)$
        language: system

update elasticsearch config template
  archipy/configs/config_template.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Fix starrocks driver[sync driver (pymysql) and async driver(aiomysql)
  pyproject.toml
Due: check-toml

Set pymysql (sync starrocks as default installing starrocks and dependencies
  pyproject.toml
Due: check-toml

update change logs
  docs/changelog.md
  poetry.lock
Due: none

fix: remove asynchronous commit from message processing
  archipy/adapters/kafka/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix: enable asynchronous commit for message processing
  archipy/adapters/kafka/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix: disable asynchronous commit for message processing
  archipy/adapters/kafka/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

create parsian ipg adapter
  archipy/adapters/internet_payment_gateways/__init__.py
  archipy/adapters/internet_payment_gateways/ir/__init__.py
  archipy/adapters/internet_payment_gateways/ir/parsian/__init__.py
  archipy/adapters/internet_payment_gateways/ir/parsian/adapters.py
  archipy/configs/base_config.py
  archipy/configs/config_template.py
  poetry.lock
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

add more custom errors models, refactor custom error foldering
  .env.test
  archipy/adapters/base/sqlalchemy/adapters.py
  archipy/adapters/base/sqlalchemy/session_managers.py
  archipy/adapters/kafka/adapters.py
  archipy/adapters/keycloak/adapters.py
  archipy/adapters/minio/adapters.py
  archipy/helpers/decorators/sqlalchemy_atomic.py
  archipy/helpers/utils/app_utils.py
  archipy/helpers/utils/file_utils.py
  archipy/helpers/utils/password_utils.py
  archipy/helpers/utils/totp_utils.py
  archipy/models/dtos/error_dto.py
  archipy/models/dtos/pagination_dto.py
  archipy/models/dtos/range_dtos.py
  archipy/models/errors/__init__.py
  archipy/models/errors/auth_errors.py
  archipy/models/errors/base_error.py
  archipy/models/errors/business_errors.py
  archipy/models/errors/custom_errors.py
  archipy/models/errors/database_errors.py
  archipy/models/errors/network_errors.py
  archipy/models/errors/resource_errors.py
  archipy/models/errors/system_errors.py
  archipy/models/errors/validation_errors.py
  archipy/models/types/error_message_types.py
  docs/api_reference/models.md
  docs/examples/adapters/postgres.md
  docs/examples/adapters/sqlite.md
  docs/examples/adapters/starrocks.md
  docs/examples/helpers/utils.md
  docs/usage.md
  features/steps/kafka_adapter_steps.py
  features/steps/password_utils_steps.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

update docs
  docs/api_reference/models.md
  docs/examples/error_handling.md
  docs/examples/index.md
Due: none

[feat] add elasticsearch adapter
  archipy/adapters/elasticsearch/__init__.py
  archipy/adapters/elasticsearch/adapters.py
  archipy/adapters/elasticsearch/ports.py
  archipy/configs/base_config.py
  archipy/configs/config_template.py
  features/steps/atomic_transaction_steps.py
  features/steps/kafka_adapter_steps.py
  poetry.lock
  pyproject.toml
  scripts/generate_unreleased_changelog.py
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

refactor sqlalchemy adapters and ...
  .cursor/rules/exception-chain.mdc
  .cursor/rules/exception.mdc
  .cursor/rules/python313.mdc
  archipy/adapters/base/sqlalchemy/adapters.py
  archipy/adapters/base/sqlalchemy/session_manager_registry.py
  archipy/adapters/base/sqlalchemy/session_managers.py
  archipy/adapters/postgres/sqlalchemy/session_manager_registry.py
  archipy/adapters/postgres/sqlalchemy/session_managers.py
  archipy/adapters/sqlite/sqlalchemy/adapters.py
  archipy/adapters/sqlite/sqlalchemy/session_manager_registry.py
  archipy/adapters/sqlite/sqlalchemy/session_managers.py
  archipy/adapters/starrocks/sqlalchemy/adapters.py
  archipy/adapters/starrocks/sqlalchemy/session_manager_registry.py
  archipy/adapters/starrocks/sqlalchemy/session_managers.py
  archipy/configs/base_config.py
  archipy/configs/config_template.py
  archipy/helpers/decorators/sqlalchemy_atomic.py
  archipy/models/errors/__init__.py
  archipy/models/errors/business_errors.py
  archipy/models/errors/database_errors.py
  archipy/models/errors/network_errors.py
  archipy/models/errors/resource_errors.py
  archipy/models/errors/system_errors.py
  archipy/models/errors/validation_errors.py
  archipy/models/types/error_message_types.py
  docs/api_reference/adapters.md
  docs/api_reference/configs.md
  docs/usage.md
  features/steps/atomic_transaction_steps.py
  features/steps/kafka_adapter_steps.py
  pyproject.toml
  scripts/generate_unreleased_changelog.py
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

Add create_client_role method to KeycloakAdapter and AsyncKeycloakAdapter
  archipy/adapters/keycloak/adapters.py
  archipy/adapters/keycloak/ports.py
Due: codespell, black, ruff, add-trailing-comma, mypy

change kafka adapter errors
  archipy/adapters/kafka/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

change minio adapter errors
  .cursor/rules/exception.mdc
  archipy/adapters/minio/adapters.py
  archipy/models/errors/__init__.py
  archipy/models/errors/database_errors.py
  archipy/models/errors/resource_errors.py
  archipy/models/errors/system_errors.py
Due: codespell, black, ruff, add-trailing-comma, mypy

refactor error handling in adapter
  archipy/adapters/base/sqlalchemy/adapters.py
  archipy/adapters/kafka/adapters.py
  archipy/adapters/minio/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

update change logs
  docs/changelog.md
Due: none

fix import error
  archipy/adapters/keycloak/adapters.py
  archipy/adapters/starrocks/sqlalchemy/adapters.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

update change logs
  .cursor/rules/mypy-compliance.mdc
  .cursor/rules/ruff-compliance.mdc
  docs/changelog.md
Due: none

update cursor rules
  .cursor/rules/mypy-compliance.mdc
  .cursor/rules/ruff-compliance.mdc
Due: none

Refactor create_client_role method signature for better readability in KeycloakAdapter and AsyncKeycloakAdapter
  archipy/adapters/keycloak/adapters.py
  archipy/adapters/keycloak/ports.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Add admin configuration fields to KeycloakConfig for testing/setup
  archipy/configs/config_template.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Add create_realm and create_client methods to KeycloakPort
  archipy/adapters/keycloak/ports.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Add .env.example file with comprehensive configuration options
  .env.example
Due: none

Add detailed configuration options to .env.example file for various services
  .env.example
Due: none

change kafka template
  archipy/configs/config_template.py
Due: codespell, black, ruff, add-trailing-comma, mypy

remove redundant error message
  archipy/adapters/internet_payment_gateways/ir/parsian/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Enhance KeycloakAdapter and AsyncKeycloakAdapter with admin credential support and add create_realm and create_client methods.
  archipy/adapters/keycloak/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Add string utility methods for case conversion: snake_to_camel_case and camel_to_snake_case.
  archipy/helpers/utils/string_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Add scenarios for creating realms and clients using both sync and async Keycloak adapters in the feature file.
  features/keycloak_adapter.feature
Due: none

udpate docs, refactor parsian adapter
  .cursorignore
  archipy/adapters/internet_payment_gateways/ir/parsian/adapters.py
  archipy/configs/config_template.py
  docs/api_reference/adapters.md
  docs/api_reference/index.md
  docs/examples/adapters/index.md
  docs/examples/index.md
  docs/index.md
  poetry.lock
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

update changelogs
  docs/changelog.md
  docs/examples/adapters/parsian_payment.md
Due: none

Refactor Keycloak step definitions to include type hints
  features/steps/keycloak_adapter_steps.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Refactor realm creation methods
  archipy/adapters/keycloak/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix format Python files to satisfy Ruff checks
  archipy/helpers/utils/string_utils.py
  features/steps/keycloak_adapter_steps.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Align validate iranian national code pattern response with another validations func
  archipy/helpers/utils/base_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

improve docs
  docs/contributing-docs.md
  docs/examples/adapters/postgres.md
  docs/examples/adapters/redis.md
  docs/examples/bdd_testing.md
  docs/examples/config_management.md
  docs/examples/error_handling.md
  docs/examples/helpers/decorators.md
  docs/examples/helpers/interceptors.md
Due: none

update kafka config template
  archipy/adapters/kafka/adapters.py
  archipy/configs/config_template.py
Due: codespell, black, ruff, add-trailing-comma, mypy

update config templates
  archipy/configs/config_template.py
Due: codespell, black, ruff, add-trailing-comma, mypy
