Repository negatic/ArchiPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, pretty-format-json, codespell, black, ruff, add-trailing-comma, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: check-added-large-files
        entry: poetry run check-added-large-files
        language: system
      - id: check-yaml
        name: check-yaml
        entry: poetry run check-yaml
        types:
          - yaml
        language: system
      - id: check-toml
        name: check-toml
        entry: poetry run check-toml
        types:
          - toml
        language: system
      - id: check-json
        name: check-json
        entry: poetry run check-json
        types:
          - json
        language: system
      - id: pretty-format-json
        name: pretty-format-json
        entry: poetry run pretty-format-json
        types:
          - json
        language: system
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: poetry run end-of-file-fixer
        language: system
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: poetry run trailing-whitespace-fixer
        language: system
      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        pass_filenames: false
      - id: poetry-lock
        name: poetry-lock
        entry: poetry lock
        language: system
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge
      - id: poetry-install
        name: poetry-install
        entry: poetry install
        language: system
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge
      - id: codespell
        name: codespell
        entry: poetry run codespell --toml pyproject.toml
        files: \.(py|pyi)$
        language: system
      - id: black
        name: black
        entry: poetry run black --config pyproject.toml
        files: \.(py|pyi)$
        language: system
      - id: ruff
        name: ruff
        entry: poetry run ruff check --config pyproject.toml --fix
        files: \.(py|pyi)$
        language: system
      - id: add-trailing-comma
        name: add-trailing-comma
        entry: poetry run add-trailing-comma
        files: \.(py|pyi)$
        language: system
      - id: validate-pyproject
        name: validate-pyproject
        entry: poetry run validate-pyproject pyproject.toml
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy --config-file pyproject.toml
        files: \.(py|pyi)$
        language: system

update changelogs
  docs/changelog.md
Due: none

update elastic apm configs
  archipy/configs/base_config.py
  archipy/configs/config_template.py
  archipy/helpers/interceptors/grpc/trace/server_interceptor.py
  archipy/helpers/utils/app_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

update change logs
  docs/changelog.md
Due: none

enhance timestamp handling in sqlalchemy base entities
  archipy/models/entities/sqlalchemy/base_entities.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Fix using "IS_ENABLED" instead wrong variable "ENABLED" in elastic apm config
  archipy/helpers/interceptors/grpc/trace/client_interceptor.py
  archipy/helpers/interceptors/grpc/trace/server_interceptor.py
  poetry.lock
Due: codespell, black, ruff, add-trailing-comma, mypy

fix merge conflict
  poetry.lock
Due: none

Fixed atomic transactions feature
  archipy/helpers/decorators/sqlalchemy_atomic.py
  docs/changelog.md
  features/steps/atomic_transaction_steps.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Add new rule for cursor
  .cursor/rules/code-generation.mdc
Due: none

Add new rule for cursor
  .cursor/rules/checks.mdc
  .cursor/rules/code-generation.mdc
  .cursor/rules/exception-chain.mdc
  .cursor/rules/exception.mdc
  .cursor/rules/mypy-compliance.mdc
  .cursor/rules/python313.mdc
  .cursor/rules/ruff-compliance.mdc
Due: none

refactor(scripts): improve changelog generation with type hints and error handling
  scripts/generate_unreleased_changelog.py
Due: codespell, black, ruff, add-trailing-comma, mypy

docs: update changelog for v3.2.5 release
  docs/changelog.md
Due: none

refactor execute search query
  archipy/adapters/base/sqlalchemy/adapters.py
  docs/license.md
Due: codespell, black, ruff, add-trailing-comma, mypy

docs: update changelog for v3.2.6 release
  docs/changelog.md
Due: none

fix license.md file
  docs/license.md
Due: none

feat(database): add has_multiple_entities parameter for flexible query result handling
  archipy/adapters/base/sqlalchemy/adapters.py
  archipy/adapters/base/sqlalchemy/ports.py
  docs/changelog.md
Due: codespell, black, ruff, add-trailing-comma, mypy

[chore] add GRE test for elastic and change elastic configs
  archipy/adapters/elasticsearch/adapters.py
  archipy/configs/base_config.py
  archipy/configs/config_template.py
  features/elastic_adapter.feature
  features/steps/elastic_adapter_steps.py
  scripts/generate_unreleased_changelog.py
Due: codespell, black, ruff, add-trailing-comma, mypy

[chore] update elastic version to 9.0.2
  archipy/configs/config_template.py
  poetry.lock
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

remove auth validation in elastic config, fix elastic adapter initial
  archipy/adapters/elasticsearch/adapters.py
  archipy/configs/config_template.py
Due: codespell, black, ruff, add-trailing-comma, mypy

docs: update changelog for v3.3.0 minor release
  docs/changelog.md
Due: none

chore: update Keycloak configuration in .env.test for local development
  .env.test
Due: none

feat(keycloak): implement centralized exception handling for Keycloak errors
  archipy/adapters/keycloak/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat(keycloak): add get_realm method to KeycloakPort and AsyncKeycloakPort
  archipy/adapters/keycloak/ports.py
Due: codespell, black, ruff, add-trailing-comma, mypy

refactor(keycloak): update cache clearing methods in KeycloakAdapter and AsyncKeycloakAdapter
  archipy/adapters/keycloak/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

refactor(config): remove unused ElasticsearchConfig import from base_config.py
  archipy/configs/base_config.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat(keycloak): add custom error classes for Keycloak exceptions
  archipy/models/errors/__init__.py
  archipy/models/errors/keycloak_errors.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat(keycloak): add KeycloakErrorMessageType enum for error handling
  archipy/models/types/__init__.py
  archipy/models/types/keycloak_error_message_types.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat(keycloak): enhance Keycloak adapter feature tests
  features/keycloak_adapter.feature
  features/steps/keycloak_adapter_steps.py
Due: codespell, black, ruff, add-trailing-comma, mypy

refactor(keycloak): remove redundant KeycloakAuthenticationError handling
  archipy/adapters/keycloak/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

🐛 fix(config): remove invalid import of non-existent
  archipy/configs/base_config.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat: comprehensive enhancements to Keycloak, datetime utilities, and Elasticsearch integration
  .cursor/rules/checks.mdc
  .env.test
  archipy/adapters/elasticsearch/adapters.py
  archipy/adapters/keycloak/adapters.py
  archipy/adapters/keycloak/ports.py
  archipy/configs/base_config.py
  archipy/configs/config_template.py
  archipy/helpers/utils/datetime_utils.py
  archipy/models/errors/__init__.py
  archipy/models/errors/keycloak_errors.py
  archipy/models/types/__init__.py
  archipy/models/types/keycloak_error_message_types.py
  docs/api_reference/configs.md
  docs/changelog.md
  features/datetime_utils.feature
  features/environment.py
  features/keycloak_adapter.feature
  features/steps/datetime_utils_steps.py
  features/steps/keycloak_adapter_steps.py
Due: codespell, black, ruff, add-trailing-comma, mypy

♻️ refactor: use naive local datetime in BaseUtils and UpdatableMixin
  archipy/helpers/utils/datetime_utils.py
  archipy/models/entities/sqlalchemy/base_entities.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat(keycloak): implement composite role management methods in KeycloakAdapter and AsyncKeycloakAdapter
  archipy/adapters/keycloak/adapters.py
  archipy/adapters/keycloak/ports.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat(keycloak): enhance gRPC authentication with token extraction and role validation
  archipy/helpers/utils/keycloak_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

refactor(keycloak): streamline role checks and error handling in KeycloakAdapter
  archipy/adapters/keycloak/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat(keycloak): enhance authentication context management and gRPC decorators
  archipy/helpers/utils/keycloak_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat(errors): enhance gRPC error handling and context management
  archipy/models/errors/base_error.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat(grpc): enhance gRPC server interceptor with async support and method name context
  archipy/helpers/interceptors/grpc/base/server_interceptor.py
Due: codespell, black, ruff, add-trailing-comma, mypy
