Repository negatic/ArchiPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, pretty-format-json, codespell, black, ruff, add-trailing-comma, mypy

check-yaml:
  name: check-yaml
  entry: poetry run check-yaml
  language: system

check-toml:
  name: check-toml
  entry: poetry run check-toml
  language: system

check-json:
  name: check-json
  entry: poetry run check-json
  language: system

pretty-format-json:
  name: pretty-format-json
  entry: poetry run pretty-format-json
  language: system

codespell:
  name: codespell
  entry: poetry run codespell --toml pyproject.toml
  language: system

black:
  name: black
  entry: poetry run black --config pyproject.toml
  language: system

ruff:
  name: ruff
  entry: poetry run ruff check --config pyproject.toml --fix
  language: system

add-trailing-comma:
  name: add-trailing-comma
  entry: poetry run add-trailing-comma
  language: system

mypy:
  name: mypy
  entry: poetry run mypy --config-file pyproject.toml
  language: system

Change Ruff Config
  archipy/models/types/base_types.py
  archipy/models/types/sort_order_type.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

Rename exception to error
  archipy/adapters/email/email_adapter.py
  archipy/adapters/orm/sqlalchemy/sqlalchemy_adapters.py
  archipy/helpers/decorators/deprecation_exception.py
  archipy/helpers/decorators/retry.py
  archipy/helpers/decorators/sqlalchemy_atomic.py
  archipy/helpers/decorators/timeout.py
  archipy/helpers/interceptors/grpc/metric/grpc_server_metric_interceptor.py
  archipy/helpers/utils/app_utils.py
  archipy/helpers/utils/base_utils.py
  archipy/helpers/utils/datetime_utils.py
  archipy/helpers/utils/error_utils.py
  archipy/helpers/utils/jwt_utils.py
  archipy/models/dtos/error_dto.py
  archipy/models/dtos/fastapi_exception_response_dto.py
  archipy/models/entities/sqlalchemy/base_entities.py
  archipy/models/errors/__init__.py
  archipy/models/errors/custom_errors.py
  archipy/models/exceptions/__init__.py
  archipy/models/types/email_types.py
  archipy/models/types/exception_message_types.py
  archipy/models/types/language_type.py
  features/steps/app_utils_steps.py
  features/steps/base_utils_steps.py
  features/steps/exception_utils_steps.py
  features/steps/jwt_utils_steps.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

Improve Readme
  README.md
Due: none

[Fix] ratelimit interceptor
  archipy/helpers/interceptors/fastapi/rate_limit/fastapi_rest_rate_limit_handler.py
  poetry.lock
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

add sqlalchemy tests
  archipy/adapters/orm/sqlalchemy/session_manager_registry.py
  archipy/helpers/decorators/singleton.py
  archipy/helpers/decorators/sqlalchemy_atomic.py
  archipy/helpers/decorators/timeout.py
  archipy/helpers/decorators/timing_decorator.py
  archipy/helpers/utils/base_utils.py
  archipy/helpers/utils/jwt_utils.py
  features/app_utils.feature
  features/async_test_helpers.py
  features/atomic_transactions.feature
  features/environment.py
  features/exception_utils.feature
  features/jwt_utils.feature
  features/scenario_context.py
  features/session_manager_mock.feature
  features/steps/atomic_transaction_steps.py
  features/steps/exception_utils_steps.py
  features/steps/jwt_utils_steps.py
  features/steps/session_manager_mock_steps.py
  features/test_entity.py
  features/test_entity_factory.py
  poetry.lock
Due: codespell, black, ruff, add-trailing-comma, mypy

Fix Other Errors
  archipy/helpers/utils/jwt_utils.py
  features/base_utils.feature
  features/custom_exceptions.feature
  features/steps/app_utils_steps.py
  features/steps/jwt_utils_steps.py
  features/steps/password_utils_steps.py
  features/steps/totp_utils_steps.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat: Add ScenarioContextPoolManager and refactor all tests to use scenario context
  features/environment.py
  features/scenario_context_pool_manager.py
  features/steps/app_utils_steps.py
  features/steps/atomic_transaction_steps.py
  features/steps/base_config_steps.py
  features/steps/base_utils_steps.py
  features/steps/common_steps.py
  features/steps/custom_exceptions_steps.py
  features/steps/datetime_utils_steps.py
  features/steps/exception_utils_steps.py
  features/steps/file_utils_steps.py
  features/steps/jwt_utils_steps.py
  features/steps/password_utils_steps.py
  features/steps/string_utils_steps.py
  features/steps/totp_utils_steps.py
  features/test_helpers.py
Due: codespell, black, ruff, add-trailing-comma, mypy

[Feat] add docs
  .github/workflows/docs.yml
  .readthedocs.yaml
  docs/Makefile
  docs/make.bat
  docs/source/api_reference/adapters.rst
  docs/source/api_reference/configs.rst
  docs/source/api_reference/helpers.rst
  docs/source/api_reference/index.rst
  docs/source/api_reference/models.rst
  docs/source/api_reference/utils.rst
  docs/source/architecture.rst
  docs/source/changelog.rst
  docs/source/conf.py
  docs/source/contributing.rst
  docs/source/development.rst
  docs/source/features.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/license.rst
  docs/source/modules.rst
  docs/source/usage.rst
  poetry.lock
  pyproject.toml
Due: check-yaml, check-toml, codespell, black, ruff, add-trailing-comma, mypy

fix action
  .github/workflows/docs.yml
Due: check-yaml

fix action
  .readthedocs.yaml
Due: check-yaml

fix requirmnts
  .readthedocs.yaml
  docs/requirements.txt
Due: check-yaml

docs: enhance project documentation with README and CONTRIBUTING guide
  CONTRIBUTING.md
  README.md
  assets/logo.jpg
  pyproject.toml
Due: check-toml

Fix Readme.md
  README.md
Due: none

Add logo
  README.md
  assets/logo.jpg
Due: none

docs: improve repository documentation and project configuration
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  pyproject.toml
Due: check-toml

Fix readme
  README.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation-improvement.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/custom.md
Due: none

docs: add GitHub statistics section to README
  README.md
Due: none

[Fix] Change the doce config
  .readthedocs.yaml
  docs/requirements.txt
  docs/source/conf.py
Due: check-yaml, codespell, black, ruff, add-trailing-comma, mypy

docs: fix readme
  README.md
Due: none

[Fix] Change the doce config
  docs/requirements.txt
Due: none

[Fix] docs config
  docs/source/conf.py
Due: codespell, black, ruff, add-trailing-comma, mypy

[Fix] docs config
  .readthedocs.yaml
Due: check-yaml

[Fix] gh-pages action
  .github/workflows/docs.yml
Due: check-yaml

remove docs action
  .github/workflows/docs.yml
Due: check-yaml

[Fix] issues in validating forwarded for header
  archipy/helpers/interceptors/fastapi/rate_limit/fastapi_rest_rate_limit_handler.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

[Fix] update hompage url in pyproject file
  pyproject.toml
Due: check-toml

[doc] fix docs structure in api refrences
  docs/source/api_reference/adapters.rst
  docs/source/api_reference/configs.rst
  docs/source/api_reference/helpers.rst
  docs/source/api_reference/models.rst
  docs/source/api_reference/utils.rst
Due: none

Add RedisMock and AsyncRedisMock with tests and update README
  README.md
  archipy/adapters/redis/redis_adapters.py
  archipy/adapters/redis/redis_mocks.py
  archipy/adapters/redis/redis_ports.py
  features/redis_mock.feature
  features/steps/atomic_transaction_steps.py
  features/steps/redis_mock_steps.py
  features/test_helpers.py
  poetry.lock
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

Create SECURITY.md
  SECURITY.md
Due: none

[docs] add pull request template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: none

fix the path
  .github/pull_request_template.md
Due: none

change docs
  .gitignore
  README.md
  docs/source/api_reference/adapters.rst
  docs/source/api_reference/configs.rst
  docs/source/api_reference/helpers.rst
  docs/source/api_reference/index.rst
  docs/source/api_reference/models.rst
  docs/source/api_reference/utils.rst
  docs/source/architecture.rst
  docs/source/conf.py
  docs/source/contributing.rst
  docs/source/development.rst
  docs/source/features.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/license.rst
  docs/source/usage.rst
  scripts/project_tree.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  pretty-format-json: any of: \.json$
  codespell: any of: \.(py|pyi)$
  black: any of: \.(py|pyi)$
  ruff: any of: \.(py|pyi)$
  add-trailing-comma: any of: \.(py|pyi)$
  mypy: any of: \.(py|pyi)$
