Repository negatic/ArchiPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, pretty-format-json, codespell, black, ruff, add-trailing-comma, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: check-added-large-files
        entry: poetry run check-added-large-files
        language: system
      - id: check-yaml
        name: check-yaml
        entry: poetry run check-yaml
        types:
          - yaml
        language: system
      - id: check-toml
        name: check-toml
        entry: poetry run check-toml
        types:
          - toml
        language: system
      - id: check-json
        name: check-json
        entry: poetry run check-json
        types:
          - json
        language: system
      - id: pretty-format-json
        name: pretty-format-json
        entry: poetry run pretty-format-json
        types:
          - json
        language: system
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: poetry run end-of-file-fixer
        language: system
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: poetry run trailing-whitespace-fixer
        language: system
      - id: poetry-check
        name: poetry-check
        entry: poetry check
        language: system
        pass_filenames: false
      - id: poetry-lock
        name: poetry-lock
        entry: poetry lock
        language: system
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge
      - id: poetry-install
        name: poetry-install
        entry: poetry install
        language: system
        pass_filenames: false
        stages:
          - post-checkout
          - post-merge
      - id: codespell
        name: codespell
        entry: poetry run codespell --toml pyproject.toml
        files: \.(py|pyi)$
        language: system
      - id: black
        name: black
        entry: poetry run black --config pyproject.toml
        files: \.(py|pyi)$
        language: system
      - id: ruff
        name: ruff
        entry: poetry run ruff check --config pyproject.toml --fix
        files: \.(py|pyi)$
        language: system
      - id: add-trailing-comma
        name: add-trailing-comma
        entry: poetry run add-trailing-comma
        files: \.(py|pyi)$
        language: system
      - id: validate-pyproject
        name: validate-pyproject
        entry: poetry run validate-pyproject pyproject.toml
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: poetry run mypy --config-file pyproject.toml
        files: \.(py|pyi)$
        language: system

Add keycloak Adapter with tests, Add ttl cache decorator
  .env.test
  archipy/adapters/keycloak/__init__.py
  archipy/adapters/keycloak/adapters.py
  archipy/adapters/keycloak/ports.py
  archipy/configs/config_template.py
  archipy/helpers/decorators/cache.py
  features/keycloak_adapter.feature
  features/steps/keycloak_adapter_steps.py
  poetry.lock
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

refactor keycloak adapter
  archipy/adapters/keycloak/adapters.py
  archipy/adapters/keycloak/ports.py
Due: codespell, black, ruff, add-trailing-comma, mypy

[Fix] remove default HTTPException error handling
  archipy/helpers/utils/app_utils.py
  poetry.lock
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

[Fix] update poetry lock
  poetry.lock
Due: none

Add async keycloak adapter
  archipy/adapters/keycloak/adapters.py
  archipy/adapters/keycloak/ports.py
  features/keycloak_adapter.feature
  features/steps/keycloak_adapter_steps.py
  poetry.lock
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

add keycloak docs
  docs/api_reference/adapters.md
  docs/examples/adapters/index.md
  docs/examples/adapters/keycloak.md
Due: none

fix docs
  docs/api_reference/adapters.md
  docs/api_reference/index.md
  docs/examples/adapters/index.md
  docs/examples/adapters/keycloak.md
Due: none

fix atomic decorator
  archipy/helpers/decorators/sqlalchemy_atomic.py
Due: codespell, black, ruff, add-trailing-comma, mypy

rename ExceptionMessageType to ErrorMessageType
  archipy/models/errors/custom_errors.py
  archipy/models/types/error_message_types.py
  docs/examples/helpers/utils.md
  features/steps/custom_exceptions_steps.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Add Keycloak Utils
  archipy/adapters/keycloak/adapters.py
  archipy/helpers/utils/keycloak_utils.py
  archipy/models/errors/custom_errors.py
Due: codespell, black, ruff, add-trailing-comma, mypy

add docs
  archipy/helpers/utils/keycloak_utils.py
  docs/api_reference/utils.md
  docs/examples/helpers/utils.md
Due: codespell, black, ruff, add-trailing-comma, mypy

Initial Commit
  archipy/adapters/minio/__init__.py
  archipy/adapters/minio/adapters.py
  archipy/adapters/minio/ports.py
  archipy/configs/base_config.py
  archipy/configs/config_template.py
  poetry.lock
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

refactor minio adapter and create bdd test
  .env.test
  archipy/adapters/minio/adapters.py
  archipy/configs/config_template.py
  features/minio_adapter.feature
  features/steps/minio_adapter_steps.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Add MinIO adapter documentation with examples and API reference
  docs/api_reference/adapters.md
  docs/examples/adapters/index.md
  docs/examples/adapters/minio.md
Due: none

refactor docs
  mkdocs.yml
Due: check-yaml

run lint in configs folder
  archipy/configs/base_config.py
  archipy/configs/config_template.py
  features/base_config.feature
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

run lint in minio files and fix type issues in cache decorator
  archipy/adapters/minio/adapters.py
  archipy/adapters/minio/ports.py
  archipy/helpers/decorators/cache.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix lint error
  archipy/helpers/decorators/cache.py
  poetry.lock
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

fix linter errors in decorators
  archipy/helpers/decorators/deprecation_exception.py
  archipy/helpers/decorators/retry.py
  archipy/helpers/decorators/singleton.py
  archipy/helpers/decorators/sqlalchemy_atomic.py
  archipy/helpers/decorators/timeout.py
  archipy/helpers/decorators/timing.py
  archipy/helpers/utils/datetime_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix linter errors in decorators
  archipy/helpers/decorators/retry.py
  archipy/helpers/decorators/singleton.py
  archipy/helpers/decorators/sqlalchemy_atomic.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

fix(pre-commit): exclude features and scripts from black, ruff and mypy hooks
  .pre-commit-config.yaml
Due: check-yaml

fix(models): add type annotations and fix type issues
  archipy/models/dtos/email_dtos.py
  archipy/models/dtos/error_dto.py
  archipy/models/dtos/fastapi_exception_response_dto.py
  archipy/models/entities/sqlalchemy/base_entities.py
  archipy/models/errors/custom_errors.py
  archipy/models/types/base_types.py
  archipy/models/types/error_message_types.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix(error_dto): handle gRPC status code tuple values
  archipy/models/dtos/error_dto.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix linter errors in models
  archipy/models/dtos/base_dtos.py
  archipy/models/dtos/error_dto.py
  archipy/models/dtos/pagination_dto.py
  archipy/models/dtos/range_dtos.py
  archipy/models/dtos/search_input_dto.py
  archipy/models/dtos/sort_dto.py
  archipy/models/entities/sqlalchemy/base_entities.py
  archipy/models/errors/custom_errors.py
  archipy/models/types/base_types.py
  archipy/models/types/error_message_types.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix(metaclasses): add proper type annotations and fix private attribute access in singleton metaclass
  archipy/helpers/metaclasses/singleton.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix linter errors in app utils
  archipy/helpers/utils/app_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix linter errors in datetime utils
  archipy/helpers/utils/datetime_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix linter errors in error utils
  archipy/helpers/utils/error_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix linter errors in jwt utils
  archipy/helpers/utils/jwt_utils.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

fix linter errors in keycloak utils
  archipy/helpers/utils/keycloak_utils.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

fix linter errors in password utils
  archipy/helpers/utils/password_utils.py
  archipy/models/errors/custom_errors.py
  archipy/models/types/error_message_types.py
  features/steps/password_utils_steps.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix linter errors in totp and file utils
  archipy/configs/config_template.py
  archipy/helpers/utils/file_utils.py
  archipy/helpers/utils/jwt_utils.py
  archipy/helpers/utils/password_utils.py
  archipy/helpers/utils/totp_utils.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

update docs
  docs/api_reference/utils.md
  docs/changelog.md
  docs/examples/adapters/minio.md
  docs/examples/helpers/utils.md
  docs/features.md
  scripts/generate_changelogs.py
  scripts/generate_detailed_changelogs.py
  scripts/update_changelog.sh
Due: codespell, black, ruff, add-trailing-comma, mypy

Add MinIO adapter to API reference index
  docs/api_reference/index.md
Due: none

fix linter errors in orm
  archipy/adapters/orm/sqlalchemy/adapters.py
  archipy/adapters/orm/sqlalchemy/mocks.py
  archipy/adapters/orm/sqlalchemy/ports.py
  archipy/adapters/orm/sqlalchemy/session_manager_adapters.py
  archipy/adapters/orm/sqlalchemy/session_manager_mocks.py
  archipy/adapters/orm/sqlalchemy/session_manager_registry.py
  archipy/configs/base_config.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

fix linter for redis adapters
  archipy/adapters/redis/adapters.py
  archipy/adapters/redis/mocks.py
  archipy/adapters/redis/ports.py
  archipy/helpers/utils/app_utils.py
  archipy/helpers/utils/jwt_utils.py
  archipy/helpers/utils/keycloak_utils.py
  archipy/helpers/utils/password_utils.py
  archipy/helpers/utils/totp_utils.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

fix file utils test
  features/file_utils.feature
  features/steps/file_utils_steps.py
Due: codespell, black, ruff, add-trailing-comma, mypy

add doc string for redis ports
  archipy/adapters/redis/ports.py
Due: codespell, black, ruff, add-trailing-comma, mypy

[Fix] remove extra changelog files that no longer used
  scripts/generate_changelogs.py
  scripts/update_changelog.sh
Due: codespell, black, ruff, add-trailing-comma, mypy
