Repository negatic/ArchiPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, pretty-format-json, codespell, black, ruff, add-trailing-comma, mypy

check-yaml:
  name: check-yaml
  entry: poetry run check-yaml
  language: system

check-toml:
  name: check-toml
  entry: poetry run check-toml
  language: system

check-json:
  name: check-json
  entry: poetry run check-json
  language: system

pretty-format-json:
  name: pretty-format-json
  entry: poetry run pretty-format-json
  language: system

codespell:
  name: codespell
  entry: poetry run codespell --toml pyproject.toml
  language: system

black:
  name: black
  entry: poetry run black --config pyproject.toml
  language: system

ruff:
  name: ruff
  entry: poetry run ruff check --config pyproject.toml --fix
  language: system

add-trailing-comma:
  name: add-trailing-comma
  entry: poetry run add-trailing-comma
  language: system

mypy:
  name: mypy
  entry: poetry run mypy --config-file pyproject.toml
  language: system

feat(grpc): add async gRPC server interceptor and enhance metric collection
  archipy/helpers/interceptors/grpc/metric/server_interceptor.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat(grpc): add async gRPC server interceptor and enhance tracing capabilities
  archipy/helpers/interceptors/grpc/trace/server_interceptor.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat(grpc): refine gRPC server interceptors with improved type annotations and error handling
  archipy/helpers/interceptors/grpc/base/server_interceptor.py
  archipy/helpers/interceptors/grpc/metric/server_interceptor.py
  archipy/helpers/interceptors/grpc/trace/server_interceptor.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix(errors): update type annotations in BaseError class for gRPC context handling
  archipy/models/errors/base_error.py
Due: codespell, black, ruff, add-trailing-comma, mypy

update libs
  poetry.lock
  pyproject.toml
Due: check-toml

docs: update changelog for v3.4.0 minor release with gRPC enhancements
  docs/changelog.md
Due: none

fix: fix import error
  archipy/models/entities/sqlalchemy/base_entities.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix: import errors
  archipy/models/errors/base_error.py
  archipy/models/errors/keycloak_errors.py
  temp.py
Due: codespell, black, ruff, add-trailing-comma, mypy

update changelogs
  docs/changelog.md
Due: none

fix: Keycloak Security Enhancements
  archipy/adapters/keycloak/adapters.py
  archipy/configs/config_template.py
  docs/changelog.md
  features/steps/keycloak_adapter_steps.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat: enhance gRPC integration safety and update dependencies
  archipy/helpers/utils/keycloak_utils.py
  archipy/models/errors/base_error.py
  docs/changelog.md
  poetry.lock
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

feat: implement `proto_dto.py`
  archipy/models/dtos/proto_dto.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat: implement `proto_dto.py` | use ClassVar
  archipy/models/dtos/proto_dto.py
Due: codespell, black, ruff, add-trailing-comma, mypy

delete redundant file
  temp.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Configuration Template Enhancements
  archipy/configs/config_template.py
  docs/changelog.md
Due: codespell, black, ruff, add-trailing-comma, mypy

feat: add async gRPC server exception interceptor for centralized error handling
  archipy/helpers/interceptors/grpc/exception/__init__.py
  archipy/helpers/interceptors/grpc/exception/server_interceptor.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix: resolve ClassVar type variable issue in BaseProtobufDTO
  archipy/models/dtos/base_protobuf_dto.py
  pyproject.toml
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

docs: add comprehensive documentation for BaseProtobufDTO feature
  docs/api_reference/models.md
  docs/changelog.md
  docs/examples/index.md
  docs/examples/models/protobuf_dtos.md
Due: none

update docs
  docs/api_reference/configs.md
  docs/api_reference/models.md
  mkdocs.yml
  poetry.lock
Due: check-yaml

chore: add run-time type-check to proto_dto
  archipy/models/dtos/base_protobuf_dto.py
Due: codespell, black, ruff, add-trailing-comma, mypy

chore: add run-time type-check to proto_dto | use custom exceptions
  archipy/models/dtos/base_protobuf_dto.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix: http status code name mismatch fixed
  archipy/helpers/utils/app_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Fix get secret value elastic password
  archipy/adapters/elasticsearch/adapters.py
Due: codespell, black, ruff, add-trailing-comma, mypy

update poetry lock
  poetry.lock
Due: none

update changelog
  docs/changelog.md
  poetry.lock
Due: none

refactor: enhance gRPC exception handling with new synchronous interceptor
  archipy/helpers/interceptors/grpc/exception/__init__.py
  archipy/helpers/interceptors/grpc/exception/server_interceptor.py
Due: codespell, black, ruff, add-trailing-comma, mypy

refactor: streamline validation error handling in FastAPIExceptionHandler
  archipy/helpers/utils/app_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat: add utility method for formatting Pydantic validation errors
  archipy/helpers/utils/base_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat: enhance gRPC error handling with context type updates
  archipy/models/errors/base_error.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat: improve gRPC status code handling in BaseError
  archipy/models/errors/base_error.py
Due: codespell, black, ruff, add-trailing-comma, mypy

docs: add link to Iranian National ID validation algorithm in BaseUtils
  archipy/helpers/utils/base_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix: refine type hints for gRPC status codes in BaseError
  archipy/models/errors/base_error.py
Due: codespell, black, ruff, add-trailing-comma, mypy

refactor: update error handling classes to use optional language parameter
  archipy/models/errors/__init__.py
  archipy/models/errors/auth_errors.py
  archipy/models/errors/base_error.py
  archipy/models/errors/business_errors.py
  archipy/models/errors/database_errors.py
  archipy/models/errors/keycloak_errors.py
  archipy/models/errors/network_errors.py
  archipy/models/errors/resource_errors.py
  archipy/models/errors/system_errors.py
  archipy/models/errors/validation_errors.py
Due: codespell, black, ruff, add-trailing-comma, mypy

feat: add LANGUAGE configuration to BaseConfig
  archipy/configs/base_config.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix: standardize language type constants to uppercase
  archipy/models/types/language_type.py
Due: codespell, black, ruff, add-trailing-comma, mypy

refactor: remove mandatory language parameter from error handling
  archipy/helpers/decorators/retry.py
  archipy/helpers/utils/password_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

fix: ensure language is set correctly in BaseError initialization
  archipy/models/errors/base_error.py
Due: codespell, black, ruff, add-trailing-comma, mypy

update changelog, refactor format_validation_errors
  archipy/helpers/utils/base_utils.py
  archipy/helpers/utils/error_utils.py
  docs/changelog.md
Due: codespell, black, ruff, add-trailing-comma, mypy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  pretty-format-json: any of: \.json$
  codespell: any of: \.(py|pyi)$
  black: any of: \.(py|pyi)$
  ruff: any of: \.(py|pyi)$
  add-trailing-comma: any of: \.(py|pyi)$
  mypy: any of: \.(py|pyi)$
