Repository negatic/ArchiPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, check-json, pretty-format-json, codespell, black, ruff, add-trailing-comma, mypy

check-yaml:
  name: check-yaml
  entry: poetry run check-yaml
  language: system

check-toml:
  name: check-toml
  entry: poetry run check-toml
  language: system

check-json:
  name: check-json
  entry: poetry run check-json
  language: system

pretty-format-json:
  name: pretty-format-json
  entry: poetry run pretty-format-json
  language: system

codespell:
  name: codespell
  entry: poetry run codespell --toml pyproject.toml
  language: system

black:
  name: black
  entry: poetry run black --config pyproject.toml
  language: system

ruff:
  name: ruff
  entry: poetry run ruff check --config pyproject.toml --fix
  language: system

add-trailing-comma:
  name: add-trailing-comma
  entry: poetry run add-trailing-comma
  language: system

mypy:
  name: mypy
  entry: poetry run mypy --config-file pyproject.toml
  language: system

docs(changelog): add release notes for v4.9.2
  archipy/configs/config_template.py
  docs/community/changelog/4/4.9.1.md
  docs/community/changelog/4/4.9.2.md
  docs/community/changelog/4/index.md
  docs/community/changelog/index.md
Due: codespell, black, ruff, add-trailing-comma, mypy

refactor(rate-limit): lazy-init Redis client with `__future__` annotations
  archipy/helpers/interceptors/fastapi/rate_limit/fastapi_rest_rate_limit_handler.py
  pyproject.toml
  uv.lock
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

docs(changelog): finalize release notes for v4.9.3
  .env.test
  docs/community/changelog/4/4.9.2.md
  docs/community/changelog/4/4.9.3.md
  docs/community/changelog/4/index.md
  docs/community/changelog/index.md
Due: none

feat(keycloak): add batch permission checking methods and improve userinfo retrieval documentation
  archipy/adapters/keycloak/adapters.py
  archipy/adapters/keycloak/ports.py
  archipy/helpers/decorators/tracing.py
  archipy/helpers/utils/keycloak_utils.py
  uv.lock
Due: codespell, black, ruff, add-trailing-comma, mypy

docs(changelog): update changelog for v4.10.0
  docs/community/changelog/4/4.10.0.md
  docs/community/changelog/4/4.7.1.md
  docs/community/changelog/4/4.8.0.md
  docs/community/changelog/4/4.8.1.md
  docs/community/changelog/4/4.9.0.md
  docs/community/changelog/4/4.9.1.md
  docs/community/changelog/4/4.9.2.md
  docs/community/changelog/4/4.9.3.md
  docs/community/changelog/4/index.md
  docs/community/changelog/index.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: update dependencies and configuration for Redis, PostgreSQL, Keycloak, and Kafka; enhance Keycloak adapter with audience mapper functionality
  .env.test
  archipy/adapters/redis/adapters.py
  features/steps/keycloak_adapter_steps.py
  pyproject.toml
  uv.lock
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

fix(app_utils): fix apm capture fastapi calls, reorder apm middle ware
  archipy/helpers/utils/app_utils.py
Due: codespell, black, ruff, add-trailing-comma, mypy

refactor(redis): enhance type hinting and method signatures in Redis adapter and ports
  archipy/adapters/redis/adapters.py
  archipy/adapters/redis/mocks.py
  archipy/adapters/redis/ports.py
  archipy/helpers/interceptors/fastapi/rate_limit/fastapi_rest_rate_limit_handler.py
  uv.lock
Due: codespell, black, ruff, add-trailing-comma, mypy

docs(changelog): update changelog for v4.10.1 release,
  docs/community/changelog/4/4.10.0.md
  docs/community/changelog/4/4.10.1.md
  docs/community/changelog/4/index.md
  docs/community/changelog/index.md
Due: none

chore(dependencies): update package versions and refactor HTTP client usage
  archipy/adapters/internet_payment_gateways/ir/parsian/adapters.py
  archipy/adapters/internet_payment_gateways/ir/saman/adapters.py
  archipy/adapters/starrocks/sqlalchemy/session_managers.py
  archipy/helpers/interceptors/grpc/base/server_interceptor.py
  archipy/helpers/interceptors/grpc/trace/server_interceptor.py
  archipy/helpers/utils/app_utils.py
  features/steps/metric_interceptor_steps.py
  pyproject.toml
  uv.lock
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

docs(changelog): add release notes for v4.10.2 with HTTP client migration and updates
  docs/community/changelog/4/4.10.1.md
  docs/community/changelog/4/4.10.2.md
  docs/community/changelog/4/index.md
  docs/community/changelog/index.md
Due: none

chore: update project structure and enhance payment gateway adapters
  .github/workflows/ruff-lint.yml
  archipy/__init__.py
  archipy/adapters/base/sqlalchemy/__init__.py
  archipy/adapters/elasticsearch/__init__.py
  archipy/adapters/email/__init__.py
  archipy/adapters/internet_payment_gateways/ir/parsian/__init__.py
  archipy/adapters/internet_payment_gateways/ir/parsian/adapters.py
  archipy/adapters/internet_payment_gateways/ir/parsian/ports.py
  archipy/adapters/internet_payment_gateways/ir/saman/__init__.py
  archipy/adapters/internet_payment_gateways/ir/saman/adapters.py
  archipy/adapters/internet_payment_gateways/ir/saman/ports.py
  archipy/adapters/kafka/__init__.py
  archipy/adapters/postgres/sqlalchemy/__init__.py
  archipy/adapters/redis/__init__.py
  archipy/adapters/sqlite/sqlalchemy/__init__.py
  archipy/adapters/starrocks/sqlalchemy/__init__.py
  archipy/models/dtos/parsian_ipg_dtos.py
  archipy/models/dtos/saman_ipg_dtos.py
  pyproject.toml
  uv.lock
Due: check-yaml, check-toml, codespell, black, ruff, add-trailing-comma, mypy

chore(dependencies): update fastapi and scylla-driver versions in project configuration
  pyproject.toml
  uv.lock
Due: check-toml

chore(dependencies): update images and package versions in configuration
  .env.test
  uv.lock
Due: none

add minio object streaming
  archipy/adapters/minio/adapters.py
  archipy/adapters/minio/ports.py
  features/minio_adapter.feature
  features/steps/minio_adapter_steps.py
Due: codespell, black, ruff, add-trailing-comma, mypy

chore: update FastAPI and MinIO integration for large file uploads
  features/fastapi_minio_upload.feature
  features/minio_adapter.feature
  features/steps/fastapi_minio_upload_steps.py
  features/steps/minio_adapter_steps.py
  pyproject.toml
  uv.lock
Due: check-toml, codespell, black, ruff, add-trailing-comma, mypy

chore: release notes for ArchiPy 4.11.0
  archipy/__init__.py
  docs/community/changelog/4/4.10.2.md
  docs/community/changelog/4/4.11.0.md
  docs/community/changelog/4/index.md
  docs/community/changelog/index.md
Due: codespell, black, ruff, add-trailing-comma, mypy

refactor: update testing execution model and dependencies
  .cursor/rules/testing-bdd.mdc
  AGENTS.md
  docs/getting-started/project_structure.md
  pyproject.toml
  uv.lock
Due: check-toml

Pin fastapi to <0.137 for compatibility
  pyproject.toml
  uv.lock
Due: check-toml

docs: add 4.11.1 changelog entry
  docs/community/changelog/4/4.11.0.md
  docs/community/changelog/4/4.11.1.md
  docs/community/changelog/4/index.md
  docs/community/changelog/index.md
Due: none

feat: add MinIO ttl feature
  archipy/adapters/minio/adapters.py
  archipy/adapters/minio/ports.py
  archipy/adapters/starrocks/sqlalchemy/session_managers.py
  features/minio_adapter.feature
  features/steps/minio_adapter_steps.py
Due: codespell, black, ruff, add-trailing-comma, mypy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  pretty-format-json: any of: \.json$
  codespell: any of: \.(py|pyi)$
  black: any of: \.(py|pyi)$
  ruff: any of: \.(py|pyi)$
  add-trailing-comma: any of: \.(py|pyi)$
  mypy: any of: \.(py|pyi)$
